
body{background-color:#CCEEFF;}
.container{width:80%;height:800px;background-color:#FFFFFF;margin:auto;padding-top:30px;}
 .fieldset{
  width:550px;
  height:auto;
  margin:auto;
  margin-top:200px;
  background-color:#CCFFCC;
  }
  
